<div id="mySidenav" class="sidenav" [ngStyle]="{'width': sidebarWidth}">
  <div class="vertical-menu">
    <a routerLink="/home/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/home/inquiry" routerLinkActive="active">Inquiry</a>
  </div>
</div>

<!-- Use any element to open the sidenav -->

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main" [ngStyle]="{'margin-left': sidebarWidth}">
  <nav class="navbar navbar-dark bg-primary justify-content-between">
    <div class="navbar-brand">
      <button (click)="toggleSidebar($event)" class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a>Welcome FirstName and LastName</a>
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </nav>
  <div class="row">
    <h2>Placeholder</h2>
  </div>
  <div class="row">
    <div id="secondSidenav" class="secondSidenav" [ngStyle]="{'width': sidebarWidth}">
      <div class="second-vertical-menu">
        <a routerLink="/home/dashboard" routerLinkActive="active">Dashboard</a>
        <a routerLink="/home/inquiry" routerLinkActive="active">Inquiry</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <h3>Placeholder</h3>
    </div>
    <div class="col-9">
      <div class="card" style="width: 100%; padding: 10px; margin: 10px">
        <h2>Search Form</h2>
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Much longer nav link</a>
          </li>
        </ul>
        <div class="card-body">
          <form>
            <div class="form-group row">
              <div class="input-group input-group-sm flex-nowrap col-6">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="addon-wrapping">First Name</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
              </div>
              <div class="input-group flex-nowrap col-6">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="addon-wrapping">Last Name</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
              </div>
            </div>
            <div class="form-group row">
              <div class="input-group flex-nowrap col-12">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="addon-wrapping">Facility</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
              </div>
            </div>
            <div class="form-group row">
              <div class="input-group flex-nowrap col-12">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="addon-wrapping">Address</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
              </div>
            </div>
            <div class="form-group row">
              <div class="input-group flex-nowrap col-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="addon-wrapping">City</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
              </div>
              <div class="input-group flex-nowrap col-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="addon-wrapping">State</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
              </div>
              <div class="input-group flex-nowrap col-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="addon-wrapping">Zip Code</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
              </div>
              <div class="input-group flex-nowrap col-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="addon-wrapping">County</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card" style="width: 100%; padding: 10px; margin: 10px">
        <div class="card-body">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
